/* ----------------------------------- COLORS ----------------------------------- */

$c_bg_body: hsl(0, 0%, 98%);
$c_bg_card: hsl(0, 0%, 100%);

$c_txt_important: hsl(234, 12%, 34%);
$c_text_secondary: hsl(229, 6%, 66%);

$c_border_card1: hsl(180, 62%, 55%);
$c_border_card2: hsl(0, 78%, 62%);
$c_border_card3: hsl(34, 97%, 64%);
$c_border_card4: hsl(212, 86%, 64%);